PORT=4001

SMTP_SECRET=thisisanemailsecret
SMTP_HOST=live.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=api
SMTP_PASS=e0b80952df213b0ef60b0cabfc2a0c4b
MAIL_FROM=@demomailtrap.com


MONGO_USER=himanshu
MONGO_PASSWORD=Himkap%401705
MONGO_DATABASE=trg_development_sessions
MONGO_URL=mongodb+srv://${MONGO_USER}:${MONGO_PASSWORD}@cluster0.87rgavf.mongodb.net/${MONGO_DATABASE}?retryWrites=true&w=majority&appName=Cluster0


SESSION_SECRET = "SESSIonsectet"
ENCRYPTION_KEY = "cafebabecafebabecafebabecafebabe"