NODE_ENV=

PORT=

MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_DB_NAME=
MONGO_URI=

AUTH_PG_HOST=
AUTH_PG_PORT=
AUTH_PG_PASSWORD
AUTH_PG_USER=
AUTH_PG_DATABASE=
AUTH_PG_URL=

SUPERUSER_PG_HOST=
SUPERUSER_PG_PORT=
SUPERUSER_PG_PASSWORD
SUPERUSER_PG_USER=
SUPERUSER_PG_DATABASE=
SUPERUSER_PG_URL=
